
* { padding: 0; margin: 0; }

body {
	margin: 0;
	padding: 0;
	font: 1em  Verdana, Tahoma, Helvetica, sans-serif;
	color: #666666;
	text-align: center;
    font-size: 12px;

}

table {
    font-size: 12px;
}

/* links */
a { 
	color: #4284B0;
	background-color: inherit;
	text-decoration: none;
}
a:hover {
	color: #9EC068;
	background-color: inherit;
}

/* headers */
h1, h2, h3, h4 {
	font: bold 1em Arial,'Trebuchet MS', Sans-serif;
    text-align: left;	
}

h1 { font-size: 18px; color: #6297BC; } 
h2 { font-size: 16px; color: #6297BC; }
h3 { font-size: 14px; color: #666666; text-transform:uppercase;}
h4 { font-size: 12px; color: #666666; }

p, h1, h2, h3 {
	margin: 10px 15px;
}

* ul {
	margin: 10px 30px;
	padding: 0 0px;
}
* ol {
	margin: 10px 30px;
	padding: 0 0px;
	color: #4284B0;
}
ul span, ol span {
	color: #666666; 
}

/* images */
img.frame2 {
	border: 10px solid #DADADA;
	padding: 10px;	

    max-height: 450px;
    height: 90%;
    width: auto;
}

img.frame1 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    
    max-height: 450px;
    height: 90%;
    width: auto;
}

img.frame {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
	max-height: 450px;
	height: 90%;
	width: auto;
}

img.frame-s820 {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
	max-width: 820px;
	heigh: auto;
}

code {
    margin: 5px 0;
    padding: 10px;
    text-align: left;
    display: block;
    overflow: auto;  
    font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
    /* white-space: pre; */
    background: #FAFAFA;
    border: 1px solid #f2f2f2;  
    border-left: 4px solid #4284B0; 
}

blockquote {
	margin: 5px 15px 15px 15px;
    width: auto;
    background: #FAFAFA;
    border: 1px solid #f2f2f2;
}
blockquote ul {
    color: #4284B0;
    font: 12px Verdana;
}


/***********************
	  LAYOUT
************************/
#wrap {
	background: #FFF;
	max-width: 850px; height: 100%;
	margin: 0 auto;	
	text-align: left;
}
#content-wrap {
	clear: both;
	margin: 0; padding: 0;	
	background: #FFF;
}

/* header */
#header {
	position: relative;
	height: 85px;
	background: url('https://xense.net/css/ebay1/headerbg.gif') repeat-x 0% 100%;
	font: 11px Arial, Tahoma;
}
#header h1#logo {
	/*	position: absolute; */
    position: absolute; 
 
	margin: 0;
	padding: 0;
	font: bolder 38px Cambria;
	letter-spacing: -3px;
	top: 37px;
	left: 10px;
}
#header h2#slogan {
	/* position: absolute; */
	/* top:30px; left: 95px; */
	color: #666666;
	text-indent: 0px;
	font: bold 12px Arial;
	text-transform: none;
}


/*
* html body #sidebar ul.sidemenu a { height: 18px; }
*/

.line {
	clear: both; 
	border-top: 5px solid  #B7CAD8;
	margin: 15px 0px 5px 0px;
    padding-top: 5px;
}


#title {
    text-align: center;
    color: #6297BC;
    font: bold 1em Arial, Tahoma;
    font-size: 20px;
}

#sub-title {
    padding-top: 10px;
    text-align: center;
    color: #DB2F71;
    font: bold 1em Tahoma, Arial;
    font-size: 16px;
}

#main_body {
	clear: both; /*	color: #FFF; */ /*	background: #A9BAC3; */;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	font-size: 12px;
	text-align: left;
}

/* Footer */
#footer { 
	clear: both; 
	color: #FFFFFF; 
	background: #A9BAC3; 
	border-top: 5px solid #568EB6;
	margin: 0; padding: 0; 
	height: auto;	  
	font-size: 90%;
}
#footer a { 
	text-decoration: none; 
	font-weight: bold;
	color: #FFFFFF;
}
#footer .footer-left{
	float: left;
	width: 65%;
}
#footer .footer-right{
	float: right;
	width: 30%;
}

/* menu tabs */
#header ul {
    z-index: 999999;
	position: absolute;
    margin:0; padding: 0;
    list-style:none;
	right: 0px; 
	bottom: 6px !important; 
    /* bottom: 5px; */
	font: bold 13px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;	
}
#header li {
    display:inline;
    margin:0; padding:0;
}
#header a {
    float:left;
    background: url('https://xense.net/css/ebay1/tableft.gif') no-repeat left top;
    margin:0;
    padding:0 0 0 4px;
    text-decoration:none;
}
#header a span {
    float:left;
    display:block;
    background: url('https://xense.net/css/ebay1/tabright.gif') no-repeat right top;
    padding:6px 15px 3px 8px;
    color: #FFFFFF;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header a span {float:none;}
/* End IE5-Mac hack */
#header a:hover span {
	color:#FFFFFF;
}
#header a:hover {
    background-position:0% -42px;
}
#header a:hover span {
    background-position:100% -42px;
}
#header #current a {
    background-position:0% -42px;
	color: #FFFFFF;
}
#header #current a span {
   background-position:100% -42px;
	color: #FFFFFF;
}
/* end menu tabs */

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* color classes */
.clear { clear: both; }
.green { color: #9EC630; }
.gray  { color: #BFBFBF; }
.red   { color: #EE5C4D; }
.cyan  { color: #6297BC; }

/* margin classes */
.margin-15 { 	
    margin-left: 15px; 
	margin-right: 15px;
}

.block1 {display: table-header-group; } /* Will be displayed at the top */
.block2 {display: table-row-group; text-align: left;    } /* Will be displayed in the middle */
.block3 {display: table-footer-group; } /* Will be displayed at the bottom of the pseudo-table */


